:root {
    --header-color: #3564ae;
    --body-background: #2a4e89;
    --element-backgound: #4f7ec9;
    --white: #FFFFFF;
    --logo-color: #fcc00c;
    --title-color: #f5b585;
    --font-style: 'Pokemon Solid', sans-serif;
    --yellow-pokemon: #f5b585;
    --type-normal: #ada594;
    --type-combat: #a55239;
    --type-flying: #9cadf7;
    --type-poison: #b55aa5;
    --type-ground: #d6b55a;
    --type-rock: #bda55a;
    --type-bug: #adbd21;
    --type-spectrum: #6363b5;
    --type-steel: #adadc6;
    --type-plant: #7bce52;
    --type-fire: #f75231;
    --type-water: #399cff;
    --type-electric: #ffc631;
    --type-psy: #ff73a5;
    --type-ice: #5acee7;
    --type-dragon: #8858f6;
    --type-darkness: #735a4a;
    --type-fairy: #e09ae3;
    --type-unknow: #68a090;
}

.normal {
    background: var(--type-normal);
}

.fighting {
    background: var(--type-combat);
}

.flying {
    background: var(--type-flying);
}

.poison {
    background: var(--type-poison);
}

.ground {
    background: var(--type-ground);
}

.rock {
    background: var(--type-rock);
}

.bug {
    background: var(--type-bug);
}

.ghost {
    background: var(--type-spectrum);
}

.steel {
    background: var(--type-steel);
}

.fire {
    background: var(--type-fire);
}

.grass {
    background: var(--type-plant);
}

.water {
    background: var(--type-water);
}

.electric {
    background: var(--type-electric);
}

.psychic {
    background: var(--type-psy);
}

.ice {
    background: var(--type-ice);
}

.dragon {
    background: var(--type-dragon);
}

.dark {
    background: var(--type-darkness);
}

.fairly {
    background: var(--type-fairy);
}

.unknown {
    background: var(--type-fairy);
}

.shadow {
    background: var(--type-darkness);
}


.body {
    font-style: var(--font-style);
    background-color: #c4c5c53f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;

}

.body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}


.pokeCard img {

    display: flex;
    align-content: center;
    object-fit: contain;
    padding: 1vw;
    width: 14rem;
    height: 12rem;


}

.pokeCard {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.8vw;
    box-shadow: 0px 10px 20px -2px rgba(134, 132, 132, 0.801);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.pokeCard :hover{
    cursor: pointer;

}

.card-title{
font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif !important;
color: hsla(0, 0%, 13%, 0.836) !important;
letter-spacing: 1.3px;

}



.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

}

.card-btn{
    background-color: #2a4e89 !important;
    border-style: none !important;
    box-shadow: 0px 10px 20px -2px rgba(134, 132, 132, 0.801);


}
.card-btn:hover{
    background-color: #3564ae !important;


}

.navbar {
    background-color: #2a4e89;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-titre {
    color: white;
    text-decoration: none;
    font-size: x-large;

}

.navbar-txt {
    color: white;
    text-decoration: none;
    font-size: large;
}

.divLogo {
    display: flex;
    justify-content: center;

}

.logoPokemon {
    width: 28vw;
}